.bodyText{
	font-family: 'Playfair Display', serif;
}

.bodyText h1{
	font-weight: 800;
}

.first{
	position: relative;
	animation-delay: 0.3s;
	min-height: 878px;
}

.first h2{
	font-weight: bold !important;
	font-size: 5.25em !important;
}	

.first p{
	text-align: justify;
	font-size: 28px;
}

.aboutus h2{
	font-size: 4em !important;
}

.aboutus p{
	font-size: 20px;
	text-align: center;
	font-style: oblique;
}

.first img{
	max-height: 400px;
	opacity: 0.6;
	transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-webkit-transition: opacity 1s ease-in-out
}

.first img:hover {
	opacity: 1.0;
	transition: opacity .55s ease-in-out;
	-moz-transition: opacity .55s ease-in-out;
	-webkit-transition: opacity .55s ease-in-out;
}
